{% extends "base.html" %}

{% load static %}

{% block title %}Feed4Food Data Portal{% endblock %}

{% block content %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<img src="{% static 'images/Feed4Food_Logo_02.png' %}" alt="Feed4Food logo" class="center2"> 
<h2 class="center mt-4">Select what you want to do</h2>

{% if user.is_authenticated %}
<div class="row mt-4">
  <!-- First column -->
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">

      <!-- <div class="card bg-success text-white text-center mb-4">
        <img class="card-img-top icon-report" src="{% static 'images/measure-form.png' %}" alt="Measure data icon">
          <div class="card-body">
              <h5 class="card-title">Add measure data</h5>
              <a href="#" class="btn btn-info" button_type="link">Select</a>
          </div>
      </div> -->

      <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/daily-report-form.png' %}" alt="Report icon">
        <div class="card-body">
            <h5 class="card-title">Add data</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'add_data_portal' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
    </div>

    <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="Check report icon">
        <div class="card-body">
            <h5 class="card-title">View submitted data</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'view_data_portal' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
    </div>

      <div class="card bg-success text-white text-center mb-4">
        <img class="card-img-top icon-report" src="{% static 'images/file.png' %}" alt="Measure file icon">
          <div class="card-body">
              <h5 class="card-title">Upload file</h5>
              <!-- <p>Possible help text.</p> -->
                <a href="#" class="btn btn-info" button_type="link">Select</a>
          </div>
      </div>
  </div>

 <!-- Second column -->
  <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/Dashboard-square-black.png' %}" alt="Dashboard icon">
        <div class="card-body">
            <h5 class="card-title">Go to the personal dashboard display</h5>
            <!-- <p>Possible help text.</p> -->
               <!--<a href="{% url 'personalDashboard' %}" class="btn btn-info" button_type="link">Select</a>--> 
              <a href="#" class="btn btn-danger" button_type="link">In construction</a>
        </div>
    </div>

    <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/Dashboard-square-black.png' %}" alt="Dashboard icon">
        <div class="card-body">
            <h5 class="card-title">Go to the KPI dashboard display</h5>
            <!-- <p>Possible help text.</p> -->
               <!--<a href="{% url 'dashboard' %}" class="btn btn-info" button_type="link">Select</a>-->
               <a href="#" class="btn btn-danger" button_type="link">In construction</a> 
        </div>
    </div>

    <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/Dashboard-square-black.png' %}" alt="Dashboard icon">
        <div class="card-body">
            <h5 class="card-title"> Go to the customized dashboard display</h5>
            <!-- <p>Possible help text.</p> -->
              <!--<a href="//feed4food.labs.vu.nl:3000" class="btn btn-info" button_type="link">Select</a>-->
        </div>
    </div>
    
  </div>

  <!-- Third column -->
  <div class="col-lg-4 mb-4 mb-lg-0">
      <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/iconeparametre.png' %}" alt="Admin icon">
        <div class="card-body">
            <h5 class="card-title"> Go to the admin panel</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'admin:index' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
      </div>
      <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/iconeparametre.png' %}" alt="Informed consent icon">
        <div class="card-body">
            <h5 class="card-title"> Review the informed consent</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'informedConsent_view' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
      </div>
  </div>
</div>


<div class="container">
  <div class="row justify-content-center g-4 mt-4">
    <p>You are logged in as {{ user.username }}!</p>

    <!-- Home -->
    <div class="col-6 col-sm-4 col-md-3">
      {% bootstrap_button "Home" button_type="link" button_class="btn-primary" href="/" extra_classes="w-100 py-3"  %}
    </div>

    <!-- Log out -->
    <div class="col-6 col-sm-4 col-md-3">
      {% bootstrap_button "Log out" button_type="submit" button_class="btn-secondary" extra_classes="w-100 py-3"  %}
    </div>
  </div>
</div>


{% else %}

<div class="container">
  <div class="row justify-content-center g-4 mt-4">
    <p>You are not logged in</p>
    <!-- Login -->
    <div class="col-6 col-sm-4 col-md-3">
      <a href="{% url 'login' %}" class="btn btn-primary w-100 py-3">
        Log in
      </a>
    </div>

    <!-- Sign-Up -->
    <div class="col-6 col-sm-4 col-md-3">
      <a href="{% url 'register' %}" class="btn btn-secondary w-100 py-3">
        Sign Up
      </a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}