<!DOCTYPE html>
<html>
    {# Load the tag library #}
    {% load django_bootstrap5 %}
    
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
<head>
    <title>Production Report</title>
    {% load static %}
    {% load crispy_forms_tags %}    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="{% static 'dynamic_options.js' %}"></script>
</head>
<body >
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <img src="{% static 'images/Feed4Food_Logo_02.png' %}" alt="Feed4Food logo" class="center2"> 

    <div class="container mt-5">
        <h1>Production Report</h1>
        <div class="styled-form-container">
            <form id="farming-report-form" data-locations-url="{% url 'ajax_get_locations' %}" data-gardens-url="{% url 'ajax_get_gardens' %}" novalidate onsubmit="event.preventDefault(); submitProductionForm();">
                {% csrf_token %}
                {% block report_block %} {% crispy productionReport_form %} {% endblock %}
                <h3>Products</h3>
                <div id="form-container">
                    <script type="application/json" id="form-template">
                        {% crispy item_form %}
                    </script>
                    {% block items_block %}
                    <input type="hidden" name="form-TOTAL_FORMS" value="0" id="id_form-TOTAL_FORMS">
                    {% endblock %}
                </div>
                <button type="button" id="add-item" class="btn btn-secondary" onclick="addProduct()">Add Product</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>    
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $("#id_city").change(function () {
      var url = $("#farming-report-form").attr("data-locations-url");  // get the url of the `get_locations` view
      var cityId = $(this).val();  // get the selected city ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/get-locations/)
        data: {
          'city': cityId       // add the city id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `get_locations` view function
          $("#id_location").html(data);  // replace the contents of the location input with the data that came from the server
        }
      });

    });
</script>

<script>
    $("#id_location").change(function () {
      var url = $("#farming-report-form").attr("data-gardens-url");  // get the url of the `get_gardens` view
      var locationId = $(this).val();  // get the selected location ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/get-gardens)
        data: {
          'location': locationId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `get_gardens` view function
          $("#id_garden").html(data);  // replace the contents of the garden input with the data that came from the server
        }
      });

    });
</script>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    const citySelect = document.querySelector('#id_city');
    if (citySelect) {
        citySelect.addEventListener('change', updateProductChoices);
        
        // If city is already selected on page load, update products
        if (citySelect.value) {
            updateProductChoices();
        }
    }
}); 
</script>

    <div class="container">
        <div class="row justify-content-center g-4 mt-4">
          <p>You are logged in as {{ user.username }}!</p>
      
          <!-- Data portal -->
          <div class="col-6 col-sm-4 col-md-3">
            {% bootstrap_button "Back to data portal" button_type="link" button_class="btn-custom" href="/data_portal" extra_classes="w-100 py-3"  %}
          </div>
        </div>
      </div>
</body>
</html>