{% extends "base.html" %}

{% load static %}

{% block title %}Feed4Food View Data Portal{% endblock %}

{% block content %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<link rel="stylesheet" href="{% static 'style.css' %}">
<img src="{% static 'images/Feed4Food_Logo_02.png' %}" alt="Feed4Food logo" class="center2"> 
<h2 class="center mt-4">Select what you want to do</h2>

{% if user.is_authenticated %}
<div class="row mt-4">
  <!-- First column -->
  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
      <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="View icon">
        <div class="card-body">
            <h5 class="card-title">View previous cultivation reports</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'cultivationReport_list' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
      </div>
      <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="View icon">
        <div class="card-body">
            <h5 class="card-title">View previous input reports</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'inputReport_list' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
      </div>
      <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="View icon">
        <div class="card-body">
            <h5 class="card-title">View previous waste reports</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'wasteReport_list' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
      </div>
  </div>

 <!-- Second column -->
  <div class="col-lg-3 mb-4 mb-lg-0">
    <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="View icon">
        <div class="card-body">
            <h5 class="card-title">View previous demographic reports</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'demographicReport_list' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
    </div>
    <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="View icon">
        <div class="card-body">
            <h5 class="card-title">View previous living lab use reports</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'lluseReport_list' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
    </div>
    <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="View icon">
        <div class="card-body">
            <h5 class="card-title">View previous water reports</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'waterReport_list' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
    </div>
  </div>

  <!-- Third column -->
  <div class="col-lg-3 mb-4 mb-lg-0">
    <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="View icon">
        <div class="card-body">
            <h5 class="card-title">View previous event reports</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'eventReport_list' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
    </div>
    <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="View icon">
        <div class="card-body">
            <h5 class="card-title">View previous production reports</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'productionReport_list' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
    </div>
</div>

<!-- Fourth column -->
  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
      <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="View icon">
        <div class="card-body">
            <h5 class="card-title">View previous financial reports</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'financialReport_list' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
      </div>
      <div class="card bg-success text-white text-center mb-4">
      <img class="card-img-top icon-report" src="{% static 'images/observe_icon.png' %}" alt="View icon">
        <div class="card-body">
            <h5 class="card-title">View previous sales reports</h5>
            <!-- <p>Possible help text.</p> -->
              <a href="{% url 'salesReport_list' %}" class="btn btn-info" button_type="link">Select</a>
        </div>
      </div>
  </div>

<div class="container">
  <div class="row justify-content-center g-4 mt-4">
    <p>You are logged in as {{ user.username }}!</p>

    <!-- Data portal -->
    <div class="col-6 col-sm-4 col-md-3">
        {% bootstrap_button "Back to data portal" button_type="link" button_class="btn-custom" href="/data_portal" extra_classes="w-100 py-3"  %}
    </div>
  </div>
</div>


{% else %}

<div class="container">
  <div class="row justify-content-center g-4 mt-4">
    <p>You are not logged in</p>
    <!-- Login -->
    <div class="col-6 col-sm-4 col-md-3">
      <a href="{% url 'login' %}" class="btn btn-primary w-100 py-3">
        Log in
      </a>
    </div>

    <!-- Sign-Up -->
    <div class="col-6 col-sm-4 col-md-3">
      <a href="{% url 'register' %}" class="btn btn-secondary w-100 py-3">
        Sign Up
      </a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}