<!DOCTYPE html>
<html>
    {% load static %}
    {# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<head>
    <title>Feed4Food Dashboard Display</title>
</head>
<body style=" background-color: #003399;"">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <img src="{% static 'images/Feed4Food_Logo_02.png' %}" alt="Feed4Food logo" class="center2"> 
    <h1>KPI Dashboard Display</h1>
    <div  style="height: 70vh; width: 89vw; margin:auto;">
        {% load plotly_dash %}
        {% plotly_app name="KPIVisualisationApp" ratio=0.45 %}
    </div>
    <!-- <style>
        .embed-responsive-item {
          /* Your styles here */
          /* padding: 20px; */
          background-color: red;
          height: 100vh !important;
          width: 100vw !important;
          overflow-y: scroll !important;
          box-sizing: border-box;
        }
      </style> -->

      <div class="container">
        <div class="row justify-content-center g-4 mt-4">
          <p>You are logged in as {{ user.username }}!</p>
      
          <!-- Home -->
          <div class="col-6 col-sm-4 col-md-3">
            {% bootstrap_button "Home" button_type="link" button_class="btn-primary" href="/" extra_classes="w-100 py-3"  %}
          </div>
      
          <!-- Log out -->
          <div class="col-6 col-sm-4 col-md-3">
            {% bootstrap_button "Log out" button_type="submit" button_class="btn-secondary" extra_classes="w-100 py-3"  %}
          </div>
        </div>
      </div>
</body>
</html>